* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

:root {
    --purple: #9057c9;
    --green: #99c400;
    --grey: #d6d6d6;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

.container {
    background-color: var(--grey);
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr; 
    grid-template-areas: 
        "sidebar header"
        "sidebar main_content";
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: white;
}

.t_left {

}

.bell-img {
    height: 30px;
}

.t_right .avatar {
    height: 50px;
    border-radius: 50%;
    border: white 2px solid;
}

.t_right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.b_right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

button {
    background-color: var(--purple);
    border-radius: 30px;
    color: aliceblue;
    border-color: aliceblue;
    padding: 5px 15px 5px 15px;
}

.b_left .avatar {
    height: 80px;
    border-radius: 50%;
    border: white 2px solid;
}

.b_left {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 15px;
}

.sidebar {
    background-color:var(--purple);
    color: white;
    grid-area: sidebar;
    display: grid;
    justify-content: center;
    grid-template-rows: auto auto 1fr;
    padding: 20px;
}

.sidebar h1 {
    
}

li img {
    height: 30px;
}

.menu-bottom ul {
 margin-top: 40px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 30px;
}

.logo img {
    height: 40px;
}

li {
    display: flex;
    gap: 20px;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.main_content {
    grid-area: main_content;
    display: grid;
    grid-template-areas: 
        "projects announcements"
        "projects trending";
    grid-template-columns: 5fr 2fr;
    padding-top: 10px;
    padding-left: 10px;
    gap: 10px;
    background-color: var(--grey);
}

.projects {
    grid-area: projects;
    display: grid;
    grid-template-rows: 30px auto;
    gap: 10px;
    background-color: var(--grey);
}

.projects .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));
    gap: 10px;
}

.project {
    background-color: white;
    border: 01px white solid;
    border-left: 5px var(--green) solid;
    border-radius: 5px;
    padding: 20px;
}

.announcements {
    background-color: var(--grey);
    grid-area: announcements;
    padding-right: 10px;
    padding-top: 10px;
    display: grid;
    grid-template-rows: 30px auto;
}

.announcements .cards {
    display: grid;
    grid-template-columns: minmax(150px, 1fr);
    background-color: white;
    gap: 10px;
    border: 1px var(--grey);
    border-radius: 5px;
    padding: 20px;
}

.line {
    margin-top: 10px;
    height: 1px;
    width: auto;
    background-color: var(--grey);
}

.trending {
    grid-area: trending;
    display: grid;
    grid-template-rows: 30px auto;
    background-color: var(--grey);
    padding: 20px;
}

.trends {
    display: grid;
    gap: 15px;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
}
